
/* Body */
body {
    background-color: black;
    background: url("/assets/images/bg_windows_7.jpg")
    top center / 1920px 1020px
    no-repeat
    fixed
    padding-box
    content-box;
    color: white;
    font: normal normal normal medium/normal 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation bar */

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.navigation li {
  display: flex;
  flex-flow: column;
}

.navigation li a {
    color: white;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 24px;
}

.navigation li a:hover {
    background-color: rgb(35, 35, 35);
    color: white;
}
.image_nav {
    width: 30px;
}


/* Header and Footer*/

header {
    text-align: center;
    padding: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
}

/* Main Content */
/* Orgainze nav and content */

.main {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
    justify-content: flex-start;
    gap: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
}