
/* Body */
body {
    background-color: black;
    color: white;
    font: normal normal normal medium/normal 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navigation bar */

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.navigation li a {
    display: flex;
    flex-flow: column;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: rgb(35, 35, 35);
    color: white;
}


/* Header and Footer*/

header {
    text-align: center;
    padding: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
}

/* Main Content */
/* Orgainze nav and content */

.main {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
    justify-content: flex-start;
    gap: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
}